.container {
    padding: 20px;
    text-align: right;

    .header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        color: #FFFFFF;
    }

    .card-filters {
        display: flex;
        margin-bottom: 10px;
        text-align: left;
        color: #FFFFFF;

        .card-filters-title {
            margin: 20px 20px 10px 20px;
        }

        .form-field {
            margin: 10px;
        }
    }


    .card {
        padding: 10px;

        table {
            width: 100%;
        }
    }
}