<mat-list class="menu">
    <li class="menu-items">
        <a routerLink="/list-reservas">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title class="card-title">Reservas</mat-card-title>
                </mat-card-header>
                <img class="card-img" src="../../../assets/reserva.png" alt="Ícone de um calendário">
            </mat-card>
        </a>
    </li>
    <li class="menu-items">
        <a routerLink="/list-hospedes">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title class="card-title">Hóspedes</mat-card-title>
                </mat-card-header>
                <img class="card-img" src="../../../assets/hospede.png" alt="Ícone de uma pessoa com duas malas">
            </mat-card>
        </a>
    </li>
</mat-list>