.menu {
    display: flex;
    padding: 5% 20% 5% 20%;
    justify-content: space-around;
    
    .menu-items a {
        text-decoration: none;
    }
    
    .example-card {
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .5s;

        &:hover {
            box-shadow: 3px 3px 10px #000000;
        }

        .card-title {
            margin-bottom: 30px;
            font-size: 1.5rem;
            color: #FFFFFF;
            font-weight: bold;
        }
        
        .card-img {
            background-size: cover;
            width: 200px;
        }
    }
}